@use "./variables.scss" as *;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

html,
body,
#app {
  height: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #282c34;
  position: relative;
}

button {
  font-size: 0.8rem;
  background-color: $darker;
  padding: 0.4rem 0.75rem;
  text-align: center;
  vertical-align: middle;
  border-radius: 4px;
  color: white;
  border: none;
  outline: none;
  user-select: none;
  cursor: pointer;
}

button:hover {
  background-color: $dark;
}

button:active {
  background-color: $active;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

::-webkit-scrollbar {
  width: 8px;
  -webkit-appearance: always;
}

::-webkit-scrollbar-track {
  background: $darkest;
}

::-webkit-scrollbar-thumb {
  background: $darker;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: $dark;
}
